services:
  vue-app:
    build:
      context: .
      args:
        VITE_BACKEND_URL: ${VITE_BACKEND_URL:-https://api.kanellos.me}
        VITE_EMAILJS_SERVICE_ID: ${VITE_EMAILJS_SERVICE_ID}
        VITE_EMAILJS_TEMPLATE_ID: ${VITE_EMAILJS_TEMPLATE_ID}
        VITE_EMAILJS_PUBLIC_KEY: ${VITE_EMAILJS_PUBLIC_KEY}
    container_name: portfolio_app
    restart: always
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vueapp.rule=Host(`kanellos.me`) || Host(`www.kanellos.me`)"
      - "traefik.http.routers.vueapp.entrypoints=websecure"
      - "traefik.http.routers.vueapp.tls.certresolver=letsencrypt"
      # Optional: Redirect HTTP to HTTPS for the frontend
      - "traefik.http.routers.vueapp-http.rule=Host(`kanellos.me`) || Host(`www.kanellos.me`)"
      - "traefik.http.routers.vueapp-http.entrypoints=web"
      - "traefik.http.routers.vueapp-http.middlewares=redirect-to-https@file"

networks:
  default:
    name: web
    external: true
